<!DOCTYPE html>
<html lang="en"> <!-- English -->
<head>
  <title>An Empty HTML5 document</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" href="Patientdetails.css">
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="/css/patientProfile.css">
</head>
<body>
  <nav>
    <div class="logo">
      medRec
    </div>
    <div class="loginSignup">
      <span>Hello, {{patientProfile.name}}</span>
      <button class="logoutButton" onclick="location.href='/index'">Logout</button>
    </div>
  </nav>
  <main>
    <form>
      <div class="form-group row">
        <label for="usr" class="col-sm-3 col-form-label">Name:</label>
        <p class="col-sm-5 form-control" id="usr">{{patientProfile.name}}</p>
      </div>
      <div class="form-group row">
        <label for="email" class="col-sm-3 col-form-label">Email:</label>
        <p class="col-sm-5 form-control" id="email">{{patientProfile.email}}</p>
      </div>
      <div class="form-group row">
        <label for="address" class="col-sm-3 col-form-label">phoneNumber:</label>
        <p class="col-sm-5 form-control" id="phonenumber">{{patientProfile.phonenumber}}</p>
      </div>
      <div class="form-group row">
        <label for="height" class="col-sm-3 col-form-label">Height:</label>
        <p class="col-sm-5 form-control" id="height">{{patientProfile.height}}</p>
      </div>
      <div class="form-group row">
        <label for="weight" class="col-sm-3 col-form-label">Weight:</label>
        <p class="col-sm-5 form-control" id="weight">{{patientProfile.weight}}</p>
      </div>
      <div class="form-group row">
        <label for="pwd" class="col-sm-3 col-form-label">Blood Group</label>
        <p class="col-sm-5 form-control" id="blood">{{patientProfile.blood_type}}</p>
      </div>
      <hr/>
      <p style="text-align: center;"><a href="/patientdetails" class="edit">Edit </a></p>
    </form>
  </main>
</body>
</html>
